@import '../../../../../assets/styles/color';


.main-list {
  background: $white;
}

.detail {
  width: 90%;
  padding: .7em 0;
  select, input {
    border: 1px solid $input-border;
    width: 100%;
  }
}

.upload {
  padding: 1em 0;
}


.preview {
  img {
    width: 20%;
  }
}



.mat-primary{
    width: 30%;
    margin-top: 3em;
}