<div class="hiddenContent">
  <h1>Resolution unsupported</h1>
  <p>
    Please use a bigger device to get the best experience.
  </p>
</div>

<div class="credentials">
  <div class="split left">
  </div>

  <div class="split right">
    <form class="form centered" [formGroup]="rForm">
      <h1>Login to your account</h1>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1"
               placeholder="Email">
        <div class="alert" *ngIf="!rForm.controls['Email'].valid  && rForm.controls['Email'].touched ">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">
          Password
          <mat-icon class="pointer" (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </label>
        <input type="password" [type]="hidePassword? 'password': 'text'" class="form-control"
               formControlName="Password" id="exampleInputPassword1" placeholder="Password">
        <div class="showPassword" (click)="hidePassword = !hidePassword">
          <div class="alert" *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched ">
            Password is required
          </div>
        </div>
      </div>
      <div class="action">
        <br>
        <button mat-flat-button class="mat-danger" (click)="Login()">
          <b> Login </b>
        </button>
        <h5 class="error">{{error}}</h5>
        <div class="cta">
          Don't have an account?
          <a routerLink="/sign-up"> Sign up</a>
        </div>
      </div>
    </form>
  </div>
</div>
