@import '../../../../../assets/styles/color';
.page-section{
    // width: 50%;
    // position: absolute;
    z-index: 9999;
}

.overlay{
    background: $cloud;
}

.f-icon{
    width: 4em;
    margin: 0;
    padding: .2em;
    position: relative;
    top: 1.5em;
    background: $white;
    border-radius: 1em;
}

.hearder-cols{
    display: grid;
    background-color: $white;
    // grid-template-columns: 10% auto;
    padding: 0 4em;
}

//@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//  .products {
//    .main-list {
//      padding: 6em;
//    }
//  }
//}
