<mat-toolbar>
  <span>Manage Properties</span>
</mat-toolbar>

<div class="hiddenContent">
  <h1>Resolution unsupported</h1>
  <p>
    Please use a bigger device to get the best experience.
  </p>
</div>

<div class="main-list" *ngIf="products$ | async as products">
  <div class="account">
    <div class="headers">

      <div class="item">
        <div class="create-cta">
          <div class="">
            <h1>
              Properties
            </h1>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="" >
          <button mat-flat-button class="mat-danger" type="button" (click)="add()">
            <b>Add Property</b>
          </button>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <mat-card *ngIf="products.length > 0">
      <mat-card-content>
        <table class="tblDefaultList">
          <tr>
            <th>Property ID</th>
            <th>Description</th>
            <th>Address</th>
            <th>Price</th>
            <th>Type</th>
          </tr>
          <tr *ngFor="let item of products" (click)="view(item)">
            <td>{{item.Code}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Name}}</td>
            <td> {{item.RegularPrice  | currency:'R'}}</td>
            <td>House</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<!--  <div class="line-items" *ngFor="let item of products" (click)="view(item)">-->

<!--    <div class="item img">-->
<!--      <div class="icon" *ngIf="item.FeaturedImageUrl">-->
<!--        <div class="user-dp-image">-->
<!--          <img [src]="item.FeaturedImageUrl" alt="">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="icon" *ngIf="!item.FeaturedImageUrl">-->
<!--        <div class="user-dp-image">-->
<!--          <img src="assets/images/icons/add.svg" alt="">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="item">-->
<!--      <h1>-->
<!--        &lt;!&ndash; <span> Total</span> &ndash;&gt;-->
<!--        {{item.Name}}-->
<!--        <span class="code">-->
<!--          {{item.Code}}-->
<!--        </span>-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div class="item">-->
<!--      <h1>-->
<!--        &lt;!&ndash; <span> Total</span> &ndash;&gt;-->
<!--        {{item.ParentCategoryName}}-->
<!--        <span class="code">-->
<!--          {{item.CategoryName}}-->
<!--        </span>-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div class="item" *ngIf="item.PriceFrom > 0">-->
<!--      <h1>-->
<!--        &lt;!&ndash; <span> Amount Due</span> &ndash;&gt;-->
<!--        {{item.PriceFrom  | currency:'R'}} - {{item.PriceTo  | currency:'R'}}-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div class="item" c>-->
<!--      <h1>-->
<!--        &lt;!&ndash; <span> Amount Due</span> &ndash;&gt;-->
<!--        {{item.RegularPrice  | currency:'R'}}-->
<!--      </h1>-->
<!--    </div>-->

<!--  </div>-->


<div class="overlay" *ngIf="showModal"></div>

<div class="modal" *ngIf="showAddCustomer">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <!-- <app-add-learner (doneAdding)="doneAdding($event)"></app-add-learner> -->
</div>


<!-- <app-dash-loader *ngIf="showLoader"></app-dash-loader> -->
