<mat-toolbar>
  <span>Home</span>
</mat-toolbar>
<app-hidden-content></app-hidden-content>

<div class="main-list">
  <div class="account">
  <app-property></app-property>
    <div class="divider"></div>
    <app-contacts></app-contacts>
  </div>
</div>

<div class="overlay" *ngIf="showModal"></div>

<div class="modal" *ngIf="showAddCustomer">
  <div class="close" (click)="closeModal()">
    <span class="material-icons">
      west
    </span> {{modalHeading}}
  </div>

  <!-- <app-add-learner (doneAdding)="doneAdding($event)"></app-add-learner> -->
</div>
<!-- <app-dash-loader *ngIf="showLoader"></app-dash-loader> -->
