@import '../../../../assets/styles/color';

.dp {
  width: 3rem;
  height: 3rem;
  padding: .8rem;

  @media only screen and (max-width: 600px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.details {
  grid-template-columns: 8% 40% 30% auto;
}

.create-cta {
  display: grid;
  grid-template-columns: 50% 30% auto;

  input,
  button {
    width: 90%;
    margin: .5em auto;
    float: right;
  }

  input {
    padding: .8em 1.2em;
    border: 1px solid $silver;
  }

  h1 {
    font-size: 1.8em;
    padding: .5em 0;
    margin: 0;
    font-weight: 400;
  }
}

.item {
  img {
    width: 40%;
  }
}

.code {
  display: block;
  color: $silver;
  font-weight: 400;
  margin: .5em 0;
}

.line-items,
.headers {
  grid-template-columns: 80% 20%;
}


.np{
  padding: .2em;
}

