<div class="default">
  <div class="headers">
    <div class="item">
      <div class="create-cta">
        <div class="">
          <h1>
            Contacts
          </h1>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="">
        <button mat-flat-button class="mat-danger" type="button" (click)="add()">
          Add Contact
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<div *ngIf="router.url === '/dashboard/contacts' || router.url === '/dashboard/agents'" class="search">
  <br>
  <div class="headers">
    <div class="item">
      <div class="search-padding">
        <select>
          <option>Search by Address</option>
          <option>Search by Description</option>
        </select>
      </div>
    </div>
    <div class="item">
      <div class="search-padding">
        <input type="text" placeholder="Search...">
      </div>
    </div>
    <div class="item">
      <button class="button" type="button">
          <span class="material-icons">
            search
          </span>
      </button>
    </div>
  </div>
</div>
<br>
<mat-card *ngIf="users.length > 0">
  <mat-card-content>
    <table class="tblDefaultList">
      <tr>
        <th *ngIf="router.url === '/dashboard/contacts' || router.url === '/dashboard/agents'">
          <section>
            <mat-checkbox class="example-margin"></mat-checkbox>
          </section>
        </th>
        <th>Name</th>
        <th>Email</th>
        <th>Cellphone Number</th>
      </tr>
      <tr *ngFor="let user of users.slice(0, 10)">
        <td *ngIf="router.url === '/dashboard/contacts' || router.url === '/dashboard/agents'">
          <section>
            <mat-checkbox class="accent"></mat-checkbox>
          </section>
        </td>
        <td (click)="view(user)">{{user.Name}}</td>
        <td (click)="view(user)">{{user.Email}}</td>
        <td (click)="view(user)">{{user.PhoneNumber}}</td>
      </tr>
    </table>
    <div *ngIf="router.url === '/dashboard/contacts' || router.url === '/dashboard/agents'">
      <hr>
      <br>
      <div class="pagination">
        <a href="#" class="button-pagination">&laquo; Previous</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">100</a>
        <a href="#" class="button-pagination">Next &raquo;</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="danger-text" *ngIf="router.url !== '/dashboard/contacts' && router.url !== '/dashboard/agents'">
  <br>
  <p routerLink="/dashboard/contacts">Click here to see more Contacts...</p>
</div>
