.account {
  padding: 2.2rem 10rem 0 10rem;
  background-color: $white;
  height: 75rem;

  .detail {
    width: 30%;

    input {
      border: 4.5px solid $cloud;
    }

  }

  .more {
    margin-top: 4.5em;
  }

  form {
    //margin: 0 auto;
    .form-group {
      margin: 0.5rem 0;
    }

    .alert,
    .error {
      color: $danger;
      font-size: 0.85rem;
      font-weight: 400;
    }

    .cta {
      margin: .5rem 0;
      display: flex;

      h1 {
        font-size: 1rem;
        color: $grey;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        margin-left: .45rem;
        color: $primary;
      }
    }

    h1.h1 {
      margin: 4rem 0;

      .text {
        display: block;
        font-weight: 400;
        font-size: .75rem;
        color: $darker-grey;
        text-transform: capitalize;
      }
    }

  }


  .side-image {
    img {
      width: 100%;
    }

    mat-card {
      background-color: #f9fbfd !important;
      input {
        height: 50px;
      }
      mat-card-content {
        padding: 3em;
      }
      .mat-danger {
        margin-top: 2em;
      }
    }

    @media only screen and (max-width: 600px) {
      img {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem;
    form {
      width: 100%;
      //padding: 1rem;
      position: absolute;
      //bottom: 1rem
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    padding: 0;

    mat-card-content {
      padding: 0;
    }
  }

}

.account-logo {
  text-align: center;

  img {
    width: 7rem;
    margin: 1rem auto;
  }
}
