.credentials {
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }


  .split {
    height: 100%;
    width: 56%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url('src/assets/images/common/bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right {
    right: 0;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
  }

  input {
    padding: 21px 20px !important;
  }


  a {
    color: $primary !important;
  }

  .form-group {
    margin-top: 14px;
  }
}

